.info-game{
    overflow: hidden;

    &__video {
        width: 100% !important;
        height: 620px !important;
    }

    &__content {
        &-date {
            display: flex;
            margin-top: 20px;

            h4 {
                color: $primary;
                margin: 10px;
            }
        }
    }
}