.login-form {
    .actions {
        justify-content: space-between !important;

        .ui.basic.button {
            margin: 0;
        }

        .ui.button.submit {
            margin-right: 10px !important;
        }
    }
}

.error-msg{
    display: flex;
    padding: 5px 0;
    width: max-content;
    color:rgb(212, 53, 53);
}